<div class="text-center p-3">
  <img src="https://automate.io/assets/img/automate-io-blue.png" />
  <header class="card d-flex flex-row mt-2 p-2">
      <i class="fas fa-plus-circle"></i>
      <i class="fas fa-edit"></i>
      <i class="fas fa-trash-alt"></i>
  </header>
  <main class="d-flex mt-4">
    <section class="card mx-2" [ngStyle]="{ 'width' : showFolderSection ? '100%' : '35%' }">
      <app-automate-folder (collapsibleFolderBtnClick)="onCollapsibleFolderBtnClick($event)" (activeFolderClick)="onactiveFolderClick($event)"></app-automate-folder>
    </section>
    <section class="card mx-2" [ngStyle]="{ 'width' : showFileSection ? '100%' : '35%' }">
      <app-automate-file (collapsibleFileBtnClick)="onCollapsibleFileBtnClick($event)" (fileDetails)="onFileDetails($event)" [activeFolder]="activeFolder"></app-automate-file>
    </section>
    <section class="card mx-2">
      <app-automate-input [activeFile]="activeFile" [activeFolder]="activeFolder"></app-automate-input>
    </section>
  </main>
</div>
<router-outlet></router-outlet>
